.typography {
  font-size: 1rem;
}

.h1 {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 0;
}
.h2 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.016rem;
}
.h3 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0;
}
.h4 {
  font-size: 1.75rem;
  letter-spacing: 0.011rem;
  font-weight: bold;
}
.h5 {
  font-size: 1.25rem;
  letter-spacing: 0;
}
.h6 {
  font-size: 1rem;
  letter-spacing: 0;
}
.body1 {
  font-size: 1rem;
  letter-spacing: 0;
}

.body2 {
  font-size: 0.875rem;
  letter-spacing: 0.031rem;
}

.caption {
  font-size: 0.75rem;
  letter-spacing: 0.022rem;
}

.overline {
  font-size: 0.625rem;
  letter-spacing: 0.094rem;
}

.caption {
  font-size: 0.75rem;
  letter-spacing: 0.022rem;
}
