:root {
  --month-cell-width: calc(14.28% - 10px);
}

.month-cell-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 84vh;
}

.month-cell {
  display: flex;
  flex: 1 0 var(--month-cell-width);
  flex-direction: column;
  align-items: center;
  min-height: 150px;
  height: auto;

  &:nth-child(7n + 1) {
    border-left: var(--border-styles);
  }

  &:nth-child(-n + 7) {
    border-top: var(--border-styles);
  }
}

.month-cell--prev {
  opacity: 0.8;
}

.month-cell-day-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5px;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
}

.month-cell-day {
  color: var(--light-black);
  border: 0px;
  border-radius: 50%;
  text-transform: none;
}

.slot-line {
  display: flex;
  gap: 6px;
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  transition: 0.1s;

  &:hover {
    background-color: var(--alise-blue);
  }
}
.slot-line-circle {
  margin-top: 4px;
  width: 8px;
  height: 8px;
  background-color: brown;
  border-radius: 50%;
}

.slot-title {
  font-weight: 600;
}
