:root {
  --white: #ffffff;
  /* PINK */
  --crimson: #cc0056;
  --pitch-puff: #ffd4c6;
  --misty-rose: #ffe9e2;
  --sea-shel: #fff4f0;
  /* GREEN */
  --dark-green: #002729;
  --teal: #006c73;
  --powder-blue: #b9e9e0;
  --alise-blue: #f1faf9;
  --light-teal: #5fedd3;
  --transparent-green: #17b37c1f;
  /* GREY */
  --eerie-black: #1f1f1f;
  --dim-grey: #585858;
  --light-black: #0000008a;
  --little-darker-grey: #70757a;
  --grey: #bcbcbc;
  --white-smoke: #f4f4f4;

  --outrageous-orange: #f4511e;
  --fuego: #c0ca33;

  --transition: 0.2s;
}
