:root {
  --border-styles: 1px solid #dadce0;
  --cell-height: 60px;
}

.button-reset {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

.calendar {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.header {
  display: flex;
  flex-direction: row;
}

.day {
  flex-grow: 0;
  flex-basis: 20%;
  text-align: center;
  padding: 10px;
  min-width: 80px;
}

.day:first-child {
  border-left: none;
}
.body {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  flex-grow: 0;
  flex-basis: 20%;
  border-right: var(--border-styles);
  border-bottom: var(--border-styles);
  min-width: 80px;
  height: var(--cell-height);
  position: relative;
  display: flex;
  flex-direction: row;
}

.row > .cell {
  border-top: var(--border-styles);
}

.row:not(:first-child) .cell {
  border-top: none;
}

.time {
  display: flex;
  flex-basis: 9%;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-left: var(--border-styles);
}

.event-container {
  position: absolute;
  overflow: hidden;
  background-color: var(--white);
}

.event {
  height: inherit;
  border-radius: 4px;
  padding: 5px;
  box-sizing: border-box;
  z-index: 1;
  border: solid 1px var(--white);
  overflow: hidden;
  cursor: pointer;
}

.event-left {
  left: 0;
}

.event-right {
  right: 0;
}

.selected {
  opacity: 1;
  z-index: 20;
  overflow: hidden;
}

.dropdown {
  z-index: 2;
  position: absolute;
  top: 45px;
  width: 100%;
  padding: 0;
  background-color: white;
  border-radius: 5px;
  list-style-type: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.dropdown-item {
  font-size: 0.875rem;
  padding: 5px 10px;
  cursor: pointer;
  transition: var(--transition);
}

.dropdown-item:hover {
  background-color: var(--alise-blue);
}

.header-grid {
  display: grid;
  grid-column-gap: 15px;
  grid-template-areas: 'today arrows month year';
  align-items: center;
}

.header-grid-today {
  grid-area: today;
}
.header-grid-arrows {
  grid-area: arrows;
}
.header-grid-month {
  grid-area: month;
}
.header-grid-year {
  grid-area: year;
}
